@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f3f4f6;
  color: #111827;
}

.font-heading {
  font-family: var(--font-heading), sans-serif;
  letter-spacing: -0.02em;
}

